<div class="col-xs-12 row maindiv">
  <div class="col-xs-4 brand">
    <h1 class="fare">FARE</h1>
    <h1 class="fair">Fair</h1>

  </div>
  <div class="col-xs-8 calculator row">

    <div class="row col-xs-12 calc">
    <form #form="ngForm">

      <span>Enter State Name</span>    <br>
      <input type="text" matInput name="state" [(ngModel)]="stateName" required><br><br>

      <span>Enter Vehicle Average</span>    <br>
      <input type="number" matInput name="average" [(ngModel)]="average" required><br><br>

      <span>Enter Distance</span>    <br>
      <input type="number" matInput name="distance" [(ngModel)]="distance" required><br><br>


      <span>Enter number of People</span> <br>
      <input type="number" name="people" [(ngModel)]="people" required><br><br>


      <button (click)="onSubmit()">Calculate</button> <br><br><br>

      </form><br>
    </div>
    <div class="row col-xs-12 resuldDiv">
      <input type="text" value="Calculated Fare per Perosn : ₹ {{result |number:'1.0-2'}}"
      class="result" *ngIf="result>1">

    </div>

  </div>

</div>
