<div class="col-xs-12 row maindiv">
  <div class="col-xs-4 brand">
    <h1 class="fare">FARE</h1>
    <h1 class="fair">Fair</h1>

  </div>
  <div class="col-xs-8 calculator row">

    <div class="row col-xs-12 calc">
    <form #form="ngForm">

      <span>Enter State Name</span>    <br>
      <select id="state" name="state" [(ngModel)]="stateName">
          <option>Assam</option>
          <option>Bihar</option>
          <option>Chandigarh</option>
          <option>Delhi</option>
          <option>Goa</option>
          <option>Haryana</option>
          <option>HimachalPradesh</option>
          <option>Kerala</option>
          <option>Maharashtra</option>
          <option>Punjab</option>
          <option>Rajasthan</option>
      </select><br><br>
      <!-- <input type="text" matInput name="state" [(ngModel)]="stateName" required><br><br> -->


      <span>Enter Fuel Type</span>    <br>
      <select id="fuel" name="fuelType" [(ngModel)]="fuelType">
          <option>CNG</option>
          <option>Diesel</option>
          <option>Petrol</option>
      </select><br><br>

      <span>Enter Vehicle Mileage<span style="font-size:small">(km/lt)</span></span>   <br>
      <input type="number" matInput name="average" [(ngModel)]="average" required><br><br>

      <span>Enter Distance<span style="font-size:small">(kilometers)</span></span>    <br>
      <input type="number" matInput name="distance" [(ngModel)]="distance" required><br><br>


      <span>Enter number of People</span> <br>
      <input type="number" name="people" [(ngModel)]="people" required><br><br>


      <button (click)="onSubmit()">Calculate</button> <br><br><br>

      </form><br>
    </div>
    <div class="row col-xs-12 resuldDiv">
      <input type="text" value="Calculated Fare per Perosn : ₹ {{result |number:'1.0-2'}}"
      class="result" *ngIf="result>1">

    </div>

  </div>

</div>
